<!-- Template HTML yang menentukan tampilan aplikasi. -->
<img [src]="nama_gambar" width="400">

<h2>{{ judul.toLocaleUpperCase() }}</h2>
<h1 class="title">{{ title }}</h1>
<p>component angular pertama</p>
<!-- ------------------------------------------->

<!-- bisa mendeteksi event listener, seperti menekan tombol, gerakan mouse atau pointer  -->

<!-- menerapkan data property dengan menggabungkan penggunaan derectif ngIf, berupa boolean -->
<!-- maka lakukan rendering block berikut ini, bainding data bernama active  -->
<!-- masih gak jalan ini yang *ngIf -->

<!-- <div *ngIf="active">
    <p>Kamu bisa edit text berikut ini.</p> 
</div>
<div *ngIf="!active">
    <p>Text berikut hanya bisa dibaca. Coba tekan tombolnya!</p> 
</div> -->

<div *ngIf="active; else noEdit">
    <p [contentEditable]="active">Kamu bisa edit text berikut ini.</p> 
</div>
<ng-template #noEdit>
    <p>Text berikut hanya bisa dibaca. Coba tekan tombolnya!</p> 
</ng-template>

<button (click)="onEditClick">Edit</button>

<!-- event click -->
<p><button class="button" (click)="hello()">Hallo Ngab</button></p> 

<!-- ------------------------------------------ -->
<!-- function dan parameter -->
<!-- menjalankan proses yang sama tapi untuk data yang berbeda -->
<p>
    <!-- ('agular') = parameter -->
    <button (click)="hello('angular')">Angular</button>
    <button (click)="hello('react')">React</button>
    <button (click)="hello('vue')">Vue</button>
</p>

<!---------------------------------------------->
<p>service kelas yang bisa dibagikan </p>
<p>{{ count }}</p>
<button (click)="increment()">+</button>