/* File CSS untuk gaya aplikasi. */

.title {
    font-size: large;
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: sienna;
}

.button {
    background: firebrick;
    color: wheat;
    cursor: pointer;
    padding: 5px;
}

.button-edit {
    background: blue;
    color: wheat;
    cursor: pointer;
    padding: 5px;
}